.main {
    background-color: rgb(247, 250, 252);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(160, 174, 192);
    letter-spacing: 0.9px;
    display: flex;
    flex-flow: row;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.title-light {
    color: rgb(116, 120, 126);
}

.title {
    color: rgb(84, 91, 100);
}

.hide {
    display: none;
}